* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #eee; /* Set a consistent background color */
    background-image: url('/static/images/admin_image.jpg');
    background-size: cover; /* Change to cover for full image display */
    background-position: center;
}

.remarks-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Ensure content is scrollable if it overflows */
}

h2 {
    color: #007bff;
    text-align: center; /* Center-align the title */
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center; /* Center-align paragraph text */
}

.form-label {
    font-weight: bold;
    color: #333;
}

textarea {
    resize: none;
}

.star-rating {
    direction: rtl;
    display: flex;
    justify-content: center;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: #f39c12;
}

.star-rating input:hover ~ label {
    color: #f39c12;
}
